{{> navegacion }}

<main>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a href="/listaNotificaciones" id="back">
                    <i class="big arrow circle left icon"></i>
                </a>
                <a href="/inicio" id="backHome">
                    <i class="big home icon"></i>
                </a>
            </div>
        </div>
        <br>
        <form class="ui form" action="/editarNotificacion/{{notificacionId._id}}" method="post" id="formPrincipal">
            <input name="_id" id="_id" value="{{ notificacionId._id }}" type="hidden">
            <div class="card">
                <h2>Características</h2>
                <div class="field">
                    <label>Nombre de la Linea</label>
                    <div class="form-group row">
                        <label for="nombreNotificacion" class="col-md-3 col-form-label">Nombre</label>
                        <div class="col-md-9">
                            <input type="text" id="nombreNotificacion" name="nombreNotificacion" value="{{ notificacionId.nombreNotificacion }}" placeholder="Nombre de la Linea">
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Descripción de la notificación</label>
                    <textarea name="descripcion" id="descripcion" placeholder="Descripción">{{ notificacionId.descripcion }}</textarea>
                </div>
                <div class="field">
                    <label>Fecha de inicio</label>
                    <input type="date" name="fechaInicio" id="fechaInicio" value="{{ notificacionId.fechaInicio }}">
                </div>
                <div class="field">
                    <label>Fecha de fin</label>
                    <input type="date" name="fechaFin" id="fechaFin" value="{{ notificacionId.fechaFin }}">
                </div>
            </div>
            <br>
            <input class="ui button btnSubmit" id="btnSubmit" type="submit" value="Modificar">
            <br>
            <div class="ui error message"></div>
        </form>
    </div>
</main>

<script src="/js/editarNotificacion.js"></script>
<link rel="stylesheet" href="/css/editarNotificacionStyle.css">
