{{> navegacion }}

<main>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a href="/inicio" id="back">
                    <i class="big arrow circle left icon"></i>
                </a>
            </div>
        </div>
        <div class="row" id="spaceBackAdd">
            <div class="col-md-12 text-end">
                <a href="/listaNotificaciones/agregarNotificacion" id="addNotification">
                    <i class="big plus circle icon"></i>
                    <label>Añadir</label>
                </a>
            </div>
        </div>  
        <div class="row" id="listaNotificacionesDatos">
            {{#each notificaciones}}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-header" style="background-color: #0799B6;">
                        <h5 class="card-title mb-0">{{nombreLinea}}</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text"><strong>Descripción:</strong> {{descripcion}}</p>
                        <p class="card-text"><strong>Fecha de Envío:</strong> {{fechaInicio}}</p>
                        <p class="card-text"><strong>Fecha de Caducidad:</strong> {{fechaFin}}</p>
                        <div class="d-flex justify-content-end">
                            <a href="/listaNotificaciones/editarNotificacion/{{_id}}" class="btn btn-warning me-2">
                                <img src="/img/Editar.png" alt="Editar" style="height: 30px;">
                            </a>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal{{_id}}">
                                <img src="/img/Eliminacion.png" alt="Eliminar" style="height: 30px;">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal{{_id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title" id="exampleModalLabel">Eliminar Notificación</h2>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>¿Estás seguro de que deseas eliminar la notificación <b>{{nombreLinea}}</b>?</p>
                            <small>* Esta acción es irreversible</small>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <form action="/listaNotificaciones/eliminarNotificacion/{{_id}}" method="POST">
                                <button type="submit" class="btn btn-danger2" name="submit">Eliminar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</main>

<link rel="stylesheet" href="/css/listaNotificacionesStyle.css">
<script src="/js/listaNotificaciones.js"></script>
